body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.app {
    text-align: center;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    margin-right: 10px;
}

.weather-display {
    margin: 20px 0;
}

.weather-display img {
    width: 100px;
    height: 100px;
}